name: Telegram Attendance Bot

on:
  schedule:
    - cron: '0 0 * * *' # Tự động chạy mỗi ngày lúc 0h UTC
  workflow_dispatch: # Cho phép bấm chạy thủ công

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run Bot
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
        run: python bot.py
